pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.clojure/
out/
*.log
*.tmp
*.swp
.vscode/
.idea/
*.iml
.clj-kondo/
.lsp/
.shadow-cljs/builds/
.shadow-cljs/jar-manifest/
node_modules/
public/js/cljs-runtime/
.shadow-cljs/builds/
.shadow-cljs/jar-manifest/
.shadow-cljs/classpath.edn
.shadow-cljs/server.pid
.shadow-cljs/server.token
public/js/main.js
public/js/manifest.edn