{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.12.42"}
        com.datomic/local          {:mvn/version "1.0.291"}
        metosin/reitit     {:mvn/version "0.9.1"}
        ring/ring       {:mvn/version "1.9.6"}
        cheshire/cheshire {:mvn/version "5.13.0"}}
 :paths ["src" "resources"]}