{:paths ["src" "public"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.12.42"}
        com.datomic/local          {:mvn/version "1.0.291"}
        metosin/reitit     {:mvn/version "0.9.1"}
        ring/ring       {:mvn/version "1.9.6"}
        ring/ring-defaults {:mvn/version "0.3.4"}
        ring/ring-jetty-adapter {:mvn/version "1.12.2"}
        ring-cors/ring-cors {:mvn/version "0.1.13"}
        cheshire/cheshire {:mvn/version "5.13.0"}
        reagent/reagent {:mvn/version "1.2.2"}
        re-frame/re-frame {:mvn/version "1.4.2"}}}